:root {
    --operators-btn-bg: hsl(206, 88%, 44%);
    --equal-btn-bg: hsl(138, 96%, 37%);
    --clear-btn-bg: hsl(353, 83%, 52%);

    --calculator-bg: hsl(0, 0%, 95%);
    --box-shadow-color: hsl(0, 0%, 80%);
    --numbers-color: rgb(91, 91, 91);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body, main {
    width: 100%;
    height: 100vh;
    height: 100dvh;
}

main {
    padding: 0 .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-wrapper {
    width: 30rem;
    height: auto;
}

.calculator {
    width: 100%;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 0px 1px 4px 3px var(--box-shadow-color);
    background-color: var(--calculator-bg);
}

.calculator__display {
    width: 100%;
    padding: 1rem .8rem;
    border-radius: .3rem;
    box-shadow: inset 0px 2px 5px var(--box-shadow-color);

    font-size: 2rem;
    text-align: end;
}

.calculator__key-container {
    width: 100%;
    height: 22rem;

    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: .8rem;
}

.calculator__key {
    border-radius: .3rem;
    box-shadow: 2px 2px 5px gray;
    font-size: 2rem;
    cursor: pointer;
}

.calculator__key:hover {
    opacity: .85;
}

.calculator__key:active {
    scale: .95;
}

.calculator__key--number,
.calculator__key--dot {
    background-color: white;
    color: var(--numbers-color);
}

.calculator__key--operator,
.calculator__key--clear,
.calculator__key--equal {
    color: white;
}

.calculator__key--operator { background-color: var(--operators-btn-bg); }
.calculator__key--clear { background-color: var(--clear-btn-bg); }

.calculator__key--equal {
    grid-column: 4 / 5;
    grid-row: 3 / 7;
    background-color: var(--equal-btn-bg);
}